@font-face {
    font-family: "aggressive";
    font-style: normal;
    font-weight: 100;
    src: url("/src/fonts/HeirofLightOTFRegular.otf") format("opentype");
}

@font-face {
    font-family: "calm";
    font-style: normal;
    font-weight: 100;
    src: url("/src/fonts/J송명-Regular.otf") format("opentype");
}

@font-face {
    font-family: "chilled";
    font-style: normal;
    font-weight: 100;
    src: url("/src/fonts/ELAND나이스OTFM.otf") format("opentype");
}

@font-face {
    font-family: "dark";
    font-style: normal;
    font-weight: 100;
    src: url("/src/fonts/BlackHanSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "energetic";
    font-style: normal;
    font-weight: 100;
    src: url("/src/fonts/Giants-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "epic";
    font-style: normal;
    font-weight: 100;
    src: url("/src/fonts/JSArirang.otf") format("opentype");
}

@font-face {
    font-family: "happy";
    font-style: normal;
    font-weight: 100;
    src:
        url("/src/fonts/잘풀리는오늘OTFMedium.otf") format("opentype");
}

@font-face {
    font-family: "romantic";
    font-style: normal;
    font-weight: 100;
    src: url("/src/fonts/Romantic.ttf") format("truetype");
}

@font-face {
    font-family: "sad";
    font-style: normal;
    font-weight: 100;
    src: url("/src/fonts/sad.ttf") format("truetype");
}


@font-face {
    font-family: "sexy";
    font-style: normal;
    font-weight: 100;
    src: url("/src/fonts/UhBeeibuson.ttf") format("truetype");
}

@font-face {
    font-family: "uplifting";
    font-style: normal;
    font-weight: 100;
    src: url("/src/fonts/Cafe24Dangdanghae-v2.0.otf") format("opentype");
}

@font-face {
    font-family: "ethereal";
    font-style: normal;
    font-weight: 100;
    src: url("/src/fonts/ethereal.ttf") format("truetype");
}


@font-face {
    font-family: "scary";
    font-style: normal;
    font-weight: 100;
    src:
        url("/src/fonts/나눔손글씨끄트머리체.ttf") format("truetype");
}